.vscode/*
*.o
torch_models/*
torch_models_zm/*
Exp
*.sh
files/*
RSTree13.1/*
datasets/*

# pre_train/*
*.eps
*.png
*.txtExample_ZM.o
data/*.csv
Example.o
Example

# indices/*
# !indices/ZM.h
# !indices/ML.h
# files/*

*.txt
exp.sh